*{
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width:100%; 
    padding: 0 10px;
  }
  
  .header {
 background-color: #B3C890;
    background-size: cover;
    height: 800px;
    text-align: center; 
  
  }
  
  .header .container {
    position: relative;
    top: 200px;
  }
  
  .header h1 {
    color:#F8EAD8;
    line-height: 100px; 
    font-size: 80px;
    margin-top:0;
    margin-bottom:80px;
    text-transform:uppercase; 
}

  

h2{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    
}
.container{
width: 100%;
background-color:#B3C890

} 

.logo{
width: 10px;
background-color:  #F5F0BB ;
display: flex;
justify-content: left;}

img{

height: 200px;
width: 200px;
}

.nav { 
    background-color: #F8EAD8 ; 
    height: 80px; 
    width: 100%;
  }
  
  .nav ul {
    height: 80px;
    list-style: none;
    margin: 0 auto; 
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .nav ul li {
    color: #fff;
    display: inline-block; 
    height: 80px;
    line-height: 80px; 
    list-style: none;
    padding: 0 10px;
  
    
    
  }
    
   
 main{
    height: 600px;
background-color: #B3C890 ;
}


  .p p {
    margin-bottom: 10px;
  }
